<%- title "重要訊息" %>
<% if @news.length == 0 %>
<div class="alert alert-information">目前沒有重要訊息</div>
<% end %>
<% @news.each do  |news| %>

<div class="page-header">
  <h1><small><%=  link_to  news.title, news_item_path(news.title) %></small></h1>
</div>
<p>
  <%= news.content.html_safe %>
</p>
<p class="text-right text-info"><%= news.admin.try(:fullname) %></p>

<% end %>

<%= paginate @news %>