<%- title "重要訊息 #{@news.title}" %>
<div class="page-header">
  <h1><small><%= @news.title %></small></h1>
</div>
<p>
  <%= @news.content.html_safe %>
</p>
<p class="text-right text-info"><%= news.admin.try(:fullname) %></p>
