<%- title "登入" %>
<div class="row">
  <div class="span8">
    
    <div class="banner signin" id="banner-signin">
      
      <%= Ad.signin.try(:link_tag) %>
    </div>
    
    
  </div>
  <div class="span4">
    <%= render "devise/shared/login_form" %>
    <%= render "devise/shared/links" %>
  </div>
</div>
