<div class="flash-message">
  <% unless flash[:error].blank? %>
    <p class="alert alert-error"><%= flash[:error] %></p>
  <% end %>
  <% unless flash[:notice].blank? %>
    <p class="alert alert-success"><%= flash[:notice] %></p>
  <% end %>
</div>